[submodule "software/unitree_ros"]
	path = software/unitree_ros
	url = git@github.com:unitreerobotics/unitree_ros.git
[submodule "software/champ"]
	path = software/champ
	url = https://github.com/chvmp/champ.git
[submodule "software/champ_teleop"]
	path = software/champ_teleop
	url = https://github.com/chvmp/champ_teleop
[submodule "software/yujin_ocs"]
	path = software/yujin_ocs
	url = https://github.com/yujinrobot/yujin_ocs.git
